# Environments
.env
.DS_Store
node_modules
package
additional_node_scripts/get_all_object_properties/.env
additional_node_scripts/enrollment_history_to_multiple_checkbox/.env
additional_node_scripts/migrate_static_lists/node_modules
additional_node_scripts/migrate_static_lists/package*
results/*
additional_node_scripts/migrate_static_lists/staticListsWithContacts/*

# Custom
not_ready/
misc_docs/
playground/
__pycache__/
~$tions_catalog.docx
actions_catalog.docx