# Environments
.env
.DS_Store
node_modules
package
additional_node_scripts/get_all_object_properties/.env
additional_node_scripts/enrollment_history_to_multiple_checkbox/.env
additional_node_scripts/migrate_static_lists/node_modules
additional_node_scripts/migrate_static_lists/package*
additional_node_scripts/migrate_static_lists/staticListsWithContacts/*
additional_node_scripts/migrate_static_lists/listsWithContacts/*

# Custom
sample_migration_3967897/
id_mappings/*.csv
id_mappings/*.json
not_ready/
misc_docs/
playground/
logs/*.json
logs/*.txt
logs/*.csv
__pycache__/
~$tions_catalog.docx
actions_catalog.docx
id_mappings.json
reference_owner_properties.json
reference_properties.json
active_list_ids.json
full_log.csv
full_migration_log.csv
full_migration_log.pickle